.video {
    width: auto;
    height: 15rem;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    padding: 0.25rem;
}